.item {
  width: 90%;
  box-shadow: 0.08rem 0.05333rem 0.53333rem 0.26667rem rgb(0 0 0 / 10%);
  border-radius: 0.26667rem;
  overflow: hidden;
  margin: 0.3rem auto;
}

.plus {
  color: rgb(247, 206, 100);
}

.reduce {
  color: rgb(57, 190, 119);
}

.van-popup {
  background: #f5f5f5;
}